h1 {
  font-size: min(12vw, 5rem);
  font-family: "Chomsky", sans-serif;
  letter-spacing: 0.1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
article {
  padding: 1rem;
}
a {
  text-decoration: none;
  color: #444;
}
.App {
  
  display: grid;
  grid-template-columns: min(30ch, 15vw) 1fr 1fr;
  grid-template-rows: 0.25fr 3rem 0.25fr 1fr 0.15fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Nav Search Search"
    "Nav Articles Articles"
    "Nav Articles Articles"
    "Footer Footer Footer";
  justify-items: stretch;
  justify-content: center;
  height: 100vh;
  width: 80vw;
}

.Header {
  grid-area: Header;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Nav {
  /* background-color: blue; */
  grid-area: Nav;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 1rem;
  overflow: scroll;
  width: 100%;
}
.Nav::-webkit-scrollbar {
  display: none;
}

.Nav > div {
  cursor: pointer;
  user-select: none;
  max-width: 50%;
  transition: all 0.1s ease-in-out;
  padding: 2px;

}
.Nav > div:hover {
  border-bottom: rgb(107, 107, 224) 4px solid;
}

.Search {
  box-sizing: border-box;
  border-radius: 5px;
  background: white;
  grid-area: Search;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  flex-direction: column;
  border: #444 solid 2px;
  margin-right: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Footer {
  background-color: white;
  grid-area: Footer;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Articles {
  grid-area: Articles;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(33.3333% - 1rem, (40rem - 100%) * 999, 100%), 1fr));
  padding-bottom: 0.05rem;
  gap: 1rem;
  flex-wrap: wrap;
  margin-right: 1rem;
  justify-content: center;
  overflow: scroll;
}
.Articles::-webkit-scrollbar {
  display: none;
}

.thumb {
  padding-top: 50%;
  background-size: cover;
  background-position: center center;
}

.Card {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  min-height: 55ch;
  max-width: 500px;
}

.Card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.BottomRule {
  border-bottom: #444 1px solid;
  width: 80%;
  margin-bottom: 2px;
}

@media only screen and (min-width: 800px) {
  .item-1 {
    grid-column: 1 / span 3;
  }
}

@media only screen and (max-width: 650px) {
  .App {
    background: #f1f2f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
.selectedCategory {
  color: rgb(107, 107, 224);
  font-weight: 600;
  
  border-bottom: rgb(107, 107, 224) 4px solid;
}
